
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/entrance_style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/fancyInput.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='js/fancyInput.js'></script>
    <title>Authorization</title>
</head>
<body class="main_entrance">
    
    <div class="input_form">
        @using (Html.BeginForm("CheckData", "Entrance"))
        {

            <div class="welcome_title">
                Welcome!
            </div>

            <div class="login_title"> Login </div>
            <br />
            <div>
                <input type="text" name="_login" class="input_box" placeholder="Login..." />
            </div>
            <br />

            <div class="login_title"> Password</div>
            <br />
            <div>
                <input type="password" name="_password" class="input_box" placeholder="Password..." />
            </div>
            
            <br />
            <br />
            <input type="submit" class="button_style" value="Enter" />
            <br />
            <br />
            <a href="/Entrance/Registration" class="link_style">Dont't have account? Registration! </a>
        }
    </div>
</body>
</html>
