
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/entrance_style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/fancyInput.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='js/fancyInput.js'></script>
    <title>Registration</title>
</head>
<body class="main_entrance">

     <div>Sorry, but your login or password were incorrect. Try Again</div>
</body>
</html>
