
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/entrance_style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/fancyInput.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='js/fancyInput.js'></script>
    <title>Registration</title>
</head>
<body class="main_entrance">
    @using (Html.BeginForm("RegisterUser", "Entrance"))
    {
        <div class="login_title">
            Enter login
        </div>
        <br />
        <input type="text" name="_newLogin" class="input_box" />
        <br />
        <div class="login_title">
            Enter password</div>
            <br />
            <input type="text" name="_newPassword" class="input_box" />
            <br />

            <input type="submit" value="Registration" class="button_style"/>
        }
</body>
</html>
