.main_entrance {
    background: url("/img/NewBackground.jpg") no-repeat;
}

.input_form {
    margin-left: 600px;
    margin-top: 200px;
    background: #b5bdc8;
    background: linear-gradient(to top, #b5bdc8 0%, #f27c54 36%, #7ff427 100%);
    width: 400px;
    border: 1px solid #c6040c; /* Параметры рамки */
    border-radius: 20px; /* Радиус скругления */
}

.welcome_title {
    font-family: "Quickiss";
    color: #ea1660;
    margin-left: 90px;
    font-size:70px;
}

.login_title {
    font-family: "Cinderela";
    color: #4b4ef8;
    font-size: 30px;
    margin-left:130px;
}

@font-face {
    font-family: "Quickiss";
    src: url(/img/QuickKiss.ttf);
}

@font-face {
    font-family: "Cinderela";
    src: url(/img/Cinderela.ttf);
}

.input_box {
    display: block;
    width: 300px;
    margin: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    height: 30px;
    color: #0b0b01;
    font-size: 11px;
    font-family: Tahoma;
    margin-left: 50px;
    margin-top: -15px;
    background-color: #ffe; 
    color: #930; 
    font-size: 20px;
    font-family: "Quickiss";
}

.price_field
{
    width:200px;
    text-align:center;
}
.button_style {
    display: inline-block;
    padding: 10px 40px;
    color: #D7D7D7;
    background: #48A65B;
    border: 2px solid #48A65B;
    font-size: .95em;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    margin-left:135px;
}

.button_style:hover 
{
    background: #79ff9f;
}

.link_style {
    font-family: "Cinderela";
    color: #4b4ef8;
    margin-top: 20px;
    margin-left: 70px;
}


.button-reg {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
    margin-left: 20px;
    margin-bottom: 10px;
}
