body {
    background: url("/img/Background.jpg") no-repeat;
}

.title {
    border-style: inset;
    border-color: darkblue;
    border-width: 3px;
}


.list_songs {
    border-style: inset;
    border-color: darkblue;
    border-width: 3px;
}

.text_review {
    border-style: inset;
    border-color: darkblue;
    border-width: 3px;
}

.btn_order {
    border-style: inset;
    border-color: darkblue;
    border-width: 3px;
}
