.main {
    width: 1400px;
    height: 1300px;
}
.header {
    width: 1527.5px;
    height: 170px;
    margin: auto;
    margin-left: -10px;
    margin-top: -15px;
    background: url("/img/header.jpg");
}
.gap{
    height:15px;
}
.mleft {
    text-align: center;
    width: 197px;
    height: 1100px;
    margin-left: -8px;
    margin-top: 0px;
    background: #c3c3c3;
}


.groups_title {
    font-family: "Lemon";
    margin-left: 30px;
    width: 100px;
    height: 30px;
}
li{
    text-align:left;
    margin-left:-20px;
}
.mright {
    overflow: hidden;
    width: 1327.5px;
    height: 1050px;
    margin: auto;
    margin-left: 190px;
    margin-top: -1000px;
    text-align: center;
    font-size: 16px;
    background: url("/img/NewBackground.jpg") no-repeat;
}

.main_button {
    margin-top: 2px;
    width: 40px;
    height: 34px;
    color: #ffffff;
}


li {
    list-style-type: none;
    width: 20em;
}

ul {
    padding-left: -6px;
}


.texbox {
    float: left;
    display: block;
    width: 300px;
    margin: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    height: 30px;
    color: #0b0b01;
    font-size: 11px;
    font-family: Tahoma;
}

.login {
    float: left;
    display: block;
    width: 50px;
    margin-left: 1050px;
    margin-top: 7px;
}
.search {
    margin-top: 60px;
    width:530px;
    height:40px;
    margin-left:1000px;
    position:absolute;
}
.search button 
{
     margin-top:-14px;
     position:absolute;
     background: #23ccea;
     border: 2px;
     border-radius: 5px;
}

button:hover {
    cursor: pointer;
    border-color: #f32323;
}

.main_button {
    margin-top: 2px;
    width: 40px;
    height: 34px;
    color: #ffffff;
}


a {
    text-decoration: none;
    background-size: 100px 200px;
}

a:visited 
{
    color: #0b0b01; 
}
a:hover 
{
    text-decoration: none;
    color: #0b0b01;
}

@font-face {
    font-family: "Gothical";
    src: url(/img/Cooljazz.ttf);
}

@font-face {
    font-family: "Lemon";
    src: url(/img/LemonJelly.ttf);
}


@font-face {
    font-family: "HardRock";
    src: url(/img/Cooljazz.ttf);
}

@font-face {
    font-family: "HeavyMetal";
    src: url(/img/Cooljazz.ttf);
}

.album_name {
    font-family: HeavyMetal;
    font-size: 20px;
    color: black;
}
.band_name {
    font-family: "HardRock";
    color: #393939;
    font-size: 20px;
    margin-top: 3px;
}
.main_title {
    font-family: "Lemon";
    font-size: 50px;
    color: #b00808;
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    width:300px;
    height:50px;
}

.fast_search {

    width: 1327.3px;
    margin-left: 190px;
    margin-top: -1070px;
}

.navigation {
    float: left; /*Задаем обтекание*/
    line-height: 50px; /*Высота строки +  верт. центрирования текста*/
    font-size: 30px;
    background: dodgerblue;
    color: red;
    margin-top: -30px;
    width: 221.2px; /*Фиксируем ширину блока*/
    text-align: center; /*Центрируем текст по горизонтали*/
    background: #f47176;
    border: 1px solid;
    border-color: black;
    font-family: "Lemon";
}

.navigation :hover {
    background: #828284; /* Цвет фона */
}


.footer {
    height: 50px;
    width: 1518px;
    background-color: black;
}

