.main {
    width: 1505x;
    height: 1300px;
}
.header {
    border-style: inset;
    border-color: #2e2e2f;
    border-width: 7px;
    width: 1505px;
    height: 150px;
    margin: auto;
    margin-left: -10px;
    margin-top: -15px;
    background: url("/img/header.jpg");
}

.mleft {
    text-align: center;
    float: center;
    width: 170px;
    height: 1100px;
    margin-left: -8px;
    margin-top: 0px;
    border-style: inset;
    border-color: #a5a5a5;
    border-width: 1px;
    background: #c3c3c3;
}

li{
    text-align:left;
    margin-left:-20px;
}
.mright {
    overflow: hidden;
    float: center;
    width: 1330px;
    height: 1050px;
    margin: auto;
    margin-left: 165px;
    margin-top: -1000px;
    text-align: center;
    color: 000000;
    font-size: 16px;
    background: url("/img/Background.jpg") no-repeat;
}

.main_button {
    margin-top: 2px;
    width: 40px;
    height: 34px;
    color: #ffffff;
}


li {
    list-style-type: none;
    width: 20em;
}

ul {
    padding-left: 3;
}


.texbox {
    float: left;
    display: block;
    width: 300px;
    border: 1px solid blue;
    margin: 2px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    height: 30px;
    color: #0b0b01;
    font-size: 11px;
    font-family: Tahoma;
}

.login {
    float: left;
    display: block;
    width: 50px;
    margin-left: 1050px;
    margin-top: 7px;
}
.search {
    margin-top: 4px;
}
.search button 
{
     background: #23ccea;
     border: 2;
     border-radius: 5px;
     margin-top: -0.8px;
}

button:hover {
    cursor: pointer;
    border-color: #f32323;
}

.main_button {
    margin-top: 2px;
    width: 40px;
    height: 34px;
    color: #ffffff;
}


a {
    text-decoration: none;
    background-size: 100px 200px;
}

a:visited 
{
    color: #0b0b01; /* Цвет посещенной ссылки */
}
a:hover 
{
    text-decoration: none;
    color: #0b0b01;
    background: #828284; /* Цвет фона */
}

@font-face {
    font-family: "Gothical";
    src: url(/img/Gothical.ttf);
}

@font-face {
    font-family: "HardRock";
    src: url(/img/HARD_ROCK.ttf);
}

@font-face {
    font-family: "HeavyMetal";
    src: url(/img/Newrocker-Gy5a.ttf);
}

.album_name {
    font-family: HeavyMetal;
    font-size: 20px;
    color: black;
}
.band_name {
    font-family: "HardRock";
    color: #393939;
    font-size: 20px;
    margin-top: 3px;
}
.main_title {
    font-family: "Gothical";
    font-size:50px;
    margin-top: 5px;
    color: #b00808;
}

.fast_search {
    float: center;
    width: 1330x;
    margin-left: 165px;
    margin-top: -1070px;
}

.navigation {
    float: left; /*Задаем обтекание*/
    line-height: 50px; /*Высота строки +  верт. центрирования текста*/
    font-size: 16px;
    background: dodgerblue;
    color: red;
    margin-top: -34px;
    width: 221.5px; /*Фиксируем ширину блока*/
    text-align: center; /*Центрируем текст по горизонтали*/
    border-style: inset;
    border-color: darkblue;
    border-width: 3px;
    background: #515151;
}

.footer {
    height: 50px;
    width: 1496px;
    border: 2;
    border-style: inset;
    border-color: darkblue;
    border-width: 3px;
    background-color: black;
}

