
.tree_header {
    background: #b5bdc8;
    background: linear-gradient(to top, #b5bdc8 0%, #a8a8a8 36%, #28343b 100%);
    width: auto;
    height: 120px;
}

.tree_header_text {
    margin-left: 700px;
    font-family: "Quickiss";
    color: #72f0d5;
}

.tree_background {
    background: url("/img/TreeBackground.jpg");
    width: auto;
    height: 200px;
}



ul, #myUL {
    list-style-type: none;
}


#myUL {
    margin: 0;
    padding: 0;
}


.caret {
    cursor: pointer;
    user-select: none; 
}


.caret::before 
{
     content: "\25B6";
     color: black;
     display: inline-block;
     margin-right: 6px;
}


.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}


.active {
    display: block;
}

.tree_block
{
    width:auto;
    height:1000px;
}

