
.tree_header {
    background: #b5bdc8;
    background: linear-gradient(to top, #b5bdc8 0%, #a8a8a8 36%, #28343b 100%);
    width: auto;
    height: 120px;
}

.tree_header_text {
    margin-left: 700px;
    font-family: "Quickiss";
    color: #72f0d5;
}

.tree_background {
    background: url("/img/TreeBackground.jpg");
    width: auto;
    height: 200px;
}



/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before 
{
     content: "\25B6";
     color: black;
     display: inline-block;
     margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}

.tree_block
{
    margin-top:100px;
    margin-left:350px;
    background-color:red;
    color:gold;
    width:800px;
    height:450px
}

