
@{
    Layout = null;
}
@*@using MusicShop.Models
    @model  IEnumerable<NewsModel>*@
@model NewsViewModel
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/css/news_style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/fancyInput.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src='js/fancyInput.js'></script>
    </head>
    <body  class="background_color">
        <div class="news_header">
            <br />
            <h1 class="news_header_text">
                Music News For Current Day
            </h1>
        </div>
     
            <div class="slideshow-container">
                @{
                    foreach (var newsInfo in Model.allnews)
                    {
                        if (newsInfo.img.Contains(".mp4"))
                        {
                            <div class="mySlides fade">
                                <video class="news_image" src="@newsInfo.img" />
                                <div class="text">@newsInfo.news</div>
                            </div>
                        }
                        else
                        {
                            <div class="mySlides fade">
                                <img  src="@newsInfo.img" class="news_image"/>
                                <div class="text">@newsInfo.news</div>
                            </div>
                        }

                    }
                }

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
   
    </body>
</html>
<script>
    var slideIndex = 1;
    showSlides(slideIndex);
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }
    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>
