@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/one_album_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <div>
            @using (Html.BeginForm("WriteReview", "Album"))
            {

                <div>
                    <textarea name="_review_text" class="textarea_style"></textarea>
                </div>
                <div>
                    <input type="submit" class="btn_write" value="Save" />
                </div>
            }
        </div>
    </div>
</body>
</html>
