@*@using MusicShop.Models
    @model  Album*@

@*@using MusicShop.ViewModel 
    @model AlbumListViewModel*@

@*@using MusicShop.WorkClasses
    @model FileWorker*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/one_album_style.css" rel="stylesheet" type="text/css" />
    <title>InfoAlbum</title>
</head>
<body>
    @{
        var current_album = Model.ConcreteAlbum;
        var current_group = Model.ConcreteGroup;
      
    }
    <div class="title" align="center">
        <h2>@current_group.GroupName</h2>
        
        <img src="@current_album.img" width="160" height="160" />

        <h2>@current_album.Name</h2>
       
    </div>
    <div class="text_review">

    </div>
    <div class="list_songs">
        <ul>
            @{
                foreach (var song in Model.getSongs())
                {
                    <li>
                        @song;
                    </li>
                }
            }
        </ul>
    </div>
    

    <div class="btn_order">
        <form>
            <button>Добавить в корзину</button>
        </form>
        <form>
            <button>Написать отзыв</button>
        </form>
    </div>


</body>
</html>
