@*@using MusicShop.Models
@model  IEnumerable<Album>*@

@*@using MusicShop.ViewModel

@model AlbumListViewModel*@
<h1>@ViewBag.GroupName</h1>
<h2>@Model.currGroup</h2>
@{
     foreach (var album in Model.AllAlbums)
     {
        <div>
            <h3> Альбом : @album.Name </h3>
            <p> Цена : @album.Price.ToString("c")</p>
        </div>
     }
}

