<h1 style="        margin-top: 10px;
        font-family: 'Lato';
        color: #7fa800">Good Day, User!</h1>
<h5 style="font-family: 'Signika'; color: #b602b0">
    We glad to meet you on our music portal. On this site you can search your favourite singer, group or album
</h5>
<div style="text-align:left; margin-left:30px; margin-top:30px;">
    Here is top artists for current day
</div>

<div id="result" style="text-align:left; margin-left:30px; margin-top:10px;">
</div>
<div id="diagramm" style="
        width: 700px;
        height: 600px;
        margin-left: 500px;
        margin-top:-340px;
">
</div>


