@{
    Layout = null;
}
<html>
<head>
    <link href="~/css/tree_view_style.css" rel="stylesheet" type="text/css" />
    <script src="~/lib/balkangraph/orgchart.js/orgchart.js"></script>
    <script src="https://balkangraph.com/js/latest/orgchart.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body class="tree_background">
    <div class="tree_header">
        <br />
        <h1 class="tree_header_text">
            Genres
        </h1>
    </div>
    <div id="tree"  class="tree_block"/>
    <script>
        window.onload = function () {
            var chart = new OrgChart(document.getElementById("tree"), {
                nodeBinding: {
                    field_0: "Name",
                    img_0:"Photo1"
                },
                mouseScrool: OrgChart.action.scroll,
                showYScroll: OrgChart.scroll.visible,
                showXScroll: OrgChart.scroll.visible,
                template: "diva",
                align: OrgChart.ORIENTATION
            });
            chart.on("renderbuttons", function (sender, args) {
                var pnode = sender.getNode(args.node.pid);
                if (!pnode) return;
                var t = OrgChart.t(args.node.templateName);
                args.html += '<g control-expcoll-up-id="{id}" transform="matrix(1,0,0,1,{x},{y})"  style="cursor:pointer;">'
                    .replace('{id}', args.node.id)
                    .replace('{x}', args.node.x + (args.node.w / 2) - (t.expandCollapseSize / 2))
                    .replace('{y}', args.node.y - t.expandCollapseSize / 2);
                args.html += !args.node.parent ? t.plus : t.minus;
                args.html += OrgChart.grCloseTag;
            });

            chart.on("redraw", function (sender) {
                var upElements = document.querySelectorAll('[control-expcoll-up-id]');
                for (var i = 0; i < upElements.length; i++) {
                    upElements[i].addEventListener('click', function () {
                        var id = this.getAttribute('control-expcoll-up-id');
                        var node = sender.getNode(id);
                        var pnode = sender.getNode(node.pid);

                        if (pnode && !node.parent) {
                            sender.config.roots = [pnode.id];
                            sender.draw(OrgChart.action.update, { id: node.id });

                        }
                        else if (node.parent) {
                            sender.config.roots = [node.id];
                            sender.draw();
                        }
                    })
                }
            });

            chart.load([
                { id: 0, Name: "Music Industry", Photo1: "/img/TreeBackground.jpg" },
                { id: 1, pid: 0, Name: "Rock Music" },
                { id: 2, pid: 0, Name:"Hard Rock" },
                { id: 3, pid: 0 },
                { id: 4, pid: 1 },
                { id: 5, pid: 1 },
                { id: 6, pid: 2 },
                { id: 7, pid: 2 },
                { id: 8, pid: 3 },
                { id: 9, pid: 3 }
            ]);
        };



    </script>


   

   
</body>
</html>

<script>
    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }
</script>





