@{
    Layout = null;
}
@model IEnumerable<MusicShop.Data.FileModels.FileModel>
@{
    ViewData["Title"] = "Добавление файла";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search Page</title>
</head>
<body class="main_entrance">

    <h1>
        Сканирование текста
    </h1>
    <h3>Выберите файл для загрузки</h3>
    <form asp-action="AddFile" asp-controller="TextSearcher" method="post" enctype="multipart/form-data">
        <input type="file" name="uploadedFile" />
        <br>
        <input type="submit" value="Загрузить" />
    </form>

    <dl class="dl-horizontal">
        <dt>
            <img src="~/files/Info.jpg" alt="Image">
        </dt>
    </dl>
</body>
</html>

