@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search Page</title>
</head>
<body class="main_entrance">

    <h1>
        Сканирование текста
    </h1>
    <div class="input_form">
        @using (Html.BeginForm("ScanPicture", "TextSearcher"))
        { 
            <h3> Укажите картинку</h3>
            <br />
            <input type="file" name="_file" />
            <br />
            <input type="submit"/>
        }
    </div>
</body>
</html>

