<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <h1 align="center "class="main_title" margin-top="3px" ><font color="Black">"Metal Music Shop"</font></h1>

            <div class="search">
                <p class="login">Login</p>
                <p>
                    <input list="text" class="texbox" oninput="MyFunction()" id="thistext" placeholder="Поиск...">
                    <datalist id="text">
                        <option>Элемент поиска</option>
                    </datalist>
                </p>
                <button class="main_button"><i class="fa fa-search"></i></button></p>
            </div>
        </div>
        <div class="mleft">
            <ul>
                @{
                    foreach (var band in Model.AllBands)
                    {
                        <li><div>
                            
                            <a href='/Album/AllAlbums' id="@band.id">@band.GroupName</a>
                            
                        </div>
                        </li>
                    }
                }
            </ul>
            

        </div>

        <div class="fast_search">
            <div class="navigation">
                <a href="/shop"> Перейти к товарам </a>
            </div>
            <div class="navigation">
                <a href="/my"> Перейти к студентам </a>
            </div>
            <div class="navigation">
                <a href="/country22"> Перейти к странам </a>
            </div>
            <div class="navigation">
                <a href="/index"> Перейти на главную </a>
            </div>
            <div class="navigation">
                <a href="/catalog"> Перейти к каталогам </a>
            </div>
            <div class="navigation">
                <a href="/our"> О нас </a>
            </div>
        </div>


        <div class="mright">
            
            @RenderBody()
        </div>
        <div class="footer">
            <font color="blue">
                <p>2020 Created by Aleksey</p>
            </font>
        </div>

    </div>
    
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
