<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title class="title_name">Music Portal</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://www.google.com/jsapi"></script>
</head>
<body>
    <script>
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        var array = [];
        array.push(["Artist", "Population"]);

        $(document).ready(function () {
            $.getJSON("http://ws.audioscrobbler.com/2.0/?method=user.getTopArtists&user=test&api_key=fc86b923e70297743cd18dbb9a4bdcc9&limit=10&format=json&callback=?", function (json) {
                var html = '';
                $.each(json.topartists.artist, function (i, item)
                {
                    array.push([item.name, parseInt(item.playcount)]);
                    html += "<div style='margin-top: 10px;'><a href=" + item.url + " target='_blank'>" + item.name + " - " + "Play count : " + item.playcount + "</a></div>";
                });
                $('#result').append(html);
            });
        });

        function drawChart() {
            var data = google.visualization.arrayToDataTable(array);
            var options = {
                title: 'Music Population',
                is3D: true,
                pieResidueSliceLabel: 'Other',
                backgroundColor: { fill: 'transparent' }
            };
            var chart = new google.visualization.PieChart(document.getElementById('diagramm'));
            chart.draw(data, options);
        }

    </script>
    <div class="main">
        <div class="header">
            <div class="main_title">Welcome</div>
            <div class="search">
                <p>
                    <input list="text" class="texbox" oninput="MyFunction()" id="thistext" placeholder="Поиск...">
                    <datalist id="text">
                        <option>Search Element</option>
                    </datalist>
                </p>
                <button class="main_button"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="mleft">
            <div class="gap">
            </div>
            <h3 class="groups_title">Artists</h3>
            <ul>
                @{
                    foreach (var band in Model.AllBands)
                    {
                        <li>
                            <hr />
                            <div>
                                <a href='/Album/AlbumsOfGroup?bandId=@band.id' id="@band.id">
                                    <div class="band_name">
                                        @band.GroupName
                                    </div>
                                </a>
                            </div>
                            <hr />
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="fast_search">
            <div class="navigation">
                <a href="/Album/Main"> Main Page </a>
            </div>
            <div class="navigation">
                <a href="/News/AllNews"> News </a>
            </div>
            <div class="navigation">
                <a href="/Dictionary/AllAlbums"> Dictionary </a>
            </div>
            <div class="navigation">
                <a href="/Tree/GenresTree"> Genres </a>
            </div>
            <div class="navigation">
                <a href="/TextSearcher/SearchPage"> Scan Text </a>
            </div>
            <div class="navigation">
                <a href="/MusicConverter/LoadTrack"> Read Notes </a>
            </div>
        </div>
        <div class="mright">
            @RenderBody()
        </div>
        <div class="footer">
            <font color="red">
                <p>2020 Created by Aleksey</p>
            </font>
        </div>

    </div>

    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
